.sidebar {
  width: 200px;
  background-color: #f9f9f9;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  font-size: 1.2rem;
  color: #007bff;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.sidebar li a:hover {
  color: #007bff;
}

.sidebar-icon {
  margin-right: 5px;
}
