.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-form input {
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
}

.todo-form button {
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.add-task-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.add-task-button:active {
  background-color: #004494;
  transform: scale(1);
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }

  .todo-form {
    flex-direction: column;
    align-items: center;
  }

  .todo-form input,
  .todo-form select,
  .todo-form button {
    width: 100%;
    margin: 5px 0;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters button {
    width: 100%;
    margin: 5px 0;
  }
}
